@using second.Domain.Entity
@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@model List<second.Domain.Entity.Robot>
@{
    Layout = "_Layout";
}

<div class="container-fluid">
    <div class="card-group">
        <div class="row">
            @foreach (var tv in Model)
            {
                <div class="col-sm-6">
                    <div class="card" style="width: auto;align-content:center">
                        <img src="https://epicagroup.ru/assets/components/system_catalog/admin_panel/img/1dd7a9247e23850cf6e3e2ed25e5539ef72bbe15.jpg" class="card-img-center" alt="..." style="width:250px; height:250px;">
                        <div class="card-body">
                            <h5 class="card-title">@tv.Name</h5>
                            <p class="card-text">Цена: @tv.Price</p>
                            <a asp-controller="Robot" asp-action="GetRobot" asp-route-id="@tv.Id" class="btn btn-primary">Подробнее</a>
                        </div>
                    </div>
                </div>
            }
        </div>
    </div>
</div>