
@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Для просмотра сайта, необходимо зарегистрироваться</h1>
    <h1>
        В данном проекте реализованы:
    </h1>
    <ul>
        <li> Авторизация пользователя
        </li>
        <li>Просмотр,изменение и создание Профиля пользователя</li>
        <li>Просмотр,создание,изменение позиций для покупки</li>
        <li>Добавление заказов, просмотр заказов и удаление</li>
        <li> Роли для пользователей</li>
        <li> Просмотр пользователей</li>
    </ul>
</div>
